@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');


.footer{
    background-color: black;
    color: white;
    font-family: 'Agdasima', sans-serif;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
}


.footer__contact{
    color: white;
    font-family: 'Agdasima', sans-serif;
}

.footer__quote{
    font-size: 30px
}

.footer__quote span{
    color: hsla(47, 100%, 47%, 0.863);
}

.footer__copy{
    padding-top: 14px;
}